#map {
	width:100%;
	height:600px;
	margin-top: 50px;
}

#main {
	width:100%;
}

#main > p {
	margin-right: 20px;
	margin-left: auto;
	text-align: right;
}

#addEvent {
	position: absolute;
	background-color: white;
	z-index:2; border:
	1px solid black;
	border-radius: 5px;
	display: none;
}

#eventInfo {
	position: absolute;
	background-color: white;
	z-index:2; border:
	1px solid black;
	border-radius: 5px;
	display: none;
}



ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	margin-top: 20px;
	background:#FF4444;
	height: 60px;
}

li > a {
	text-decoration: none;
	color:#fff; /*меняем цвет ссылок*/
	background:#FF4444; 
    padding:0px 15px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    line-height:60px; /*ровняем меню по вертикали*/
    display: block; 
    border-right: 1px solid #F36262; /*добавляем бордюр справа*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

li > a:hover {
	background: #D43737;
}

li {
	float: left;
	/*position: relative;*/
}

li > ul {
	position: absolute;
	top: 60px;
	display: none;
	z-index: 20;
}

li:hover > ul {
	display: block;
	width: 250px;
}

li:hover > ul > li {
	float: none;
}

h1 {
	float: bottom;
}

.reg_log_form > p {
	width: 100px;
}

.flash {
	border: 1px solid black;
	background: red;
	margin-top: 5px;
	height: 30px;
	width: 15%;
}

.group_blocks {
	float: left;
	width: 30%;
}

.table {
	border: 1;
	width: 100px;
}

