<html>
	<head>
		<title>{% block title %} Geonet {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/geonet.css') }}">
    {% block scripts %}

	{% endblock %}
	</head>
	<body>
		{% block nav %}
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="/map">Карта</a></li>
				<li><a href="/login">Авторизация</a></li>
				<li><a>Группы</a>
				{% if loggedin %}
					<ul>
					{% for group in groups %}
						<li><a href="/groups/{{group['name']}}">{{group['name']}}</a></li>
					{% endfor %}
					</ul>
				{% endif %}
				</li>
				<li><a href="/profile">Профиль</a></li>
			</ul>
		{% endblock %}


		{% block content %}

		{% endblock %}
	</body>
</html>
              	