<html>
	<head>
		<title>Geonet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/geonet.css') }}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7673d05c-16a6-49b0-991b-b57bb96c83aa&lang=ru_RU" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
    	ymaps.ready(_init);

    	var city = {{city|tojson}};
    	var upload = {{ url_for('upload') |tojson}};

    	function _init() {
    		init(city, upload);
    	}

	</script>
	</head>
	<body>
		<div>
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="/login">Авторизация</a></li>
			</ul>
		</div>
		<h1>Hello, citizen of {{city}}!</h1>

		<div id='map'></div>

		
		
	</body>
</html>


                    	