{% extends 'base.html' %}


{% block title %}
Map
{% endblock %}


{% block scripts %}
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}"/>
<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>-->
<link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
<script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
{% endblock %}

{% block content %}
{% for msg in get_flashed_messages() %}
<div class="flash">{{ msg }}</div>
{% endfor %}
<form method="GET" action="/map">
	<select name="group_id">
		<option value="0" selected>События группы ...</option>
		{% for group in groups %}
		<option value="{{ group['id'] }}">События группы {{group['name']}}</option>
		{% endfor %}
	</select>
	<input type="submit" value="Показать">
</form>

<div id='map'></div>
<script src = "{{ url_for('static', filename='js/osm.js') }}" type="text/javascript"></script>
<script type="text/javascript">
	var upload = "{{ url_for('upload') }}";
	var _events = [];
	var _event = {};	
	{% for event in events%}
		{% for key, value in event.items() %}
			_event["{{key}}"] = "{{value}}";
		{% endfor %}
		_events.push(_event);
		_event = {};
	{% endfor %}
	osmInit(upload, _events);
</script>
<div id="addEvent">
	<form method="POST" action="/upload" enctype="multipart/form-data">
        <p align="center"><h4>Название события:</h4><input id="name" type="text" name="name" value=""></p>
        <p align="center"><h4>Описание:</h4><input id="description" type="text" name="description" value=""></p>
        <p>
			<select name="group">
				<option selected>Выберите группу</option>
				{% for group in groups %}
				<option value="{{ group['id'] }}">{{group['name']}}</option>
				{% endfor %}
			</select>
		</p>
        <p align="center"><h4>Фото</h4>(можно выбрать несколько):<input id="photo" type="file" name="photo" value="" multiple/></p>
        <p align="center"><h4>Видео</h4>(можно выбрать несколько):<input id="video" type="file" name="video" value="" multiple/></p>
        <p align="center"><input type="submit", value="Отправить"/></p>
        <input id="lat" name="lat" type="hidden" value=""/>
        <input id="lng" name="lng" type="hidden" value=""/>
    </form>
</div>
{% endblock %}