{% extends 'base.html' %}

{% block title %}
Map
{% endblock %}


{% block scripts %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=7673d05c-16a6-49b0-991b-b57bb96c83aa&lang=ru_RU" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/init.js') }}" type="text/javascript"></script>
<script type="text/javascript">
	ymaps.ready(_init);
	var city = {{city|tojson}};
	var upload = {{ url_for('upload') |tojson}};
	function _init() {
		init(city, upload);
	}
</script>
{% endblock %}

{% block content %}
<div id="map"></div>
{% endblock %}